@charset "utf-8";
/* CSS Document */
@keyframes tabAnim {
 0% {
opacity:0;
}
 100% {
opacity:1;
}
}

@media screen and (min-width: 0px) and (max-width: 750px) {
div#price_select {
    margin-top: -60px;
    padding-top: 60px;
}
.content_box {
	width: 98%;
	margin: 20px auto;
}
.top_bnr {
	width: 100%;
	background: #f5f5ed;
}
.top_bnr img {
	display: block;
	margin: 0 auto;
}
.price_down_title {
	margin-top: 50px;
	text-align: center;
	font-size: 4vw;
	font-family: 'Abhaya Libre', serif;
}
.page_title h2 {
	font-size: 9vw!important;
}
.lead {
	font-size: 4.375vw;
	font-family: source-han-serif-japanese, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #333;
}
.item_box_tome {
	max-width: 1025px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 0 0;
}
.item_box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
	grid-auto-rows: 1fr;
	grid-gap: 1.2em;
	padding: 0.8em;
	margin: 0 0 2em;
}
.hover_ef_shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.item img {
	width: 100%;
	max-width: 220px;
	display: block;
	margin: 0 auto;
}
.item_text {
	padding: 10px;
	font-weight: bold;
}
p.item_lead {
    font-size: 3vw;
    font-weight: normal;
}
.price {
	margin-bottom: 10px;
	bottom: 0;
}
s {
	font-size: 3.5vw;
}
.new_price {
	font-size: 4.375vw;
	font-weight: normal;
    color: red;
}
.back_gray {
	background: #f9f9f9;
}
.single_btn {
	width: 80%!important;
	font-size: 4.375vw!important;
	padding: 10px 30px!important;
	cursor: pointer;
}
.tab-content {
	width: 100%;
	display: inline-block;
	margin: 2em auto 0;
}
.tab_font {
	font-size: 4.375vw;
}
input[type="radio"] {
	display: none;
}
.tab_area {
	width: 100%;
	display: flex;
	margin: 0 auto 5em;
	position: relative;
}
.tab_area label {
	width: 33.3%;
	display: inline-block;
	padding: 0.8em 0;
	color: #999;
	background: #FFF;
	text-align: center;
    font-size: 3.5vw;
	font-family: source-han-serif-japanese, sans-serif;
	font-style: normal;
	font-weight: 500;
	transition: ease 0.2s opacity;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
	border-left: dotted 1px #999999;
	border-right: dotted 1px #999999;
	box-sizing: border-box;
}
.tab_area label:first-child {
	border-right: none;
}
.tab_area label:hover {
	background-color: #FFF;
	font-weight: bold;
	cursor: pointer;
	font-size: 3.5vw;
	color: #4D4D4D;
	border-bottom: #4D4D4D 2px solid;
}
.tab-box {
	background: #fff;
	margin-bottom: 100px;
}
.tab_panel {
	width: 100%;
	padding: 1.5em 0 0;
	display: none;
}
#tab1:checked ~ .tab_area .tab1_label {
	background: #fff;
	color: #4D4D4D;
	font-weight: bold;
	border-bottom: #4D4D4D 2px solid;
}
#tab1:checked ~ .tab-box #panel1 {
	display: block;
	animation: tabAnim ease 0.8s forwards;
	-ms-animation: tabAnim ease 0.8s forwards;
}
#tab2:checked ~ .tab_area .tab2_label {
	background: #fff;
	color: #4D4D4D;
	font-weight: bold;
	border-bottom: #4D4D4D 2px solid;
}
#tab2:checked ~ .tab-box #panel2 {
	display: block;
	animation: tabAnim ease 0.8s forwards;
	-ms-animation: tabAnim ease 0.8s forwards;
}
#tab3:checked ~ .tab_area .tab3_label {
	background: #fff;
	color: #4D4D4D;
	font-weight: bold;
	border-bottom: #4D4D4D 2px solid;
}
#tab3:checked ~ .tab-box #panel3 {
	display: block;
	animation: tabAnim ease 0.8s forwards;
	-ms-animation: tabAnim ease 0.8s forwards;
}
#tab4:checked ~ .tab_area .tab4_label {
	background: #fff;
	color: #4D4D4D;
	font-weight: bold;
	border-bottom: #4D4D4D 2px solid;
}
#tab4:checked ~ .tab-box #panel4 {
	display: block;
	animation: tabAnim ease 0.8s forwards;
	-ms-animation: tabAnim ease 0.8s forwards;
}
.price_lead {
	margin-top: 1.5em;
	font-size: 3.2vw;
	text-align: center;
}
/*----------------------
リンクコーデ
------------------------*/
.link_corde_wrap {
	width: 100%;
}
.link_item_box {
	width: 100%;
	text-align: center;
	margin: 5em auto;
}
.link_item_text {
    margin-top: 25px;
    font-size: 3.5vw;
    text-align: left;
    width: 98%;
    margin: 0 auto;
    color: #4d4d4d;
}
.link_item_box h4 {
    font-size: 3.8vw;
    margin-bottom: 3em;
    font-family: source-han-serif-japanese, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #4d4d4d;
}
.link_corde_wrap .link_item {
	display: flex;
	width: 100%;
	margin: 0 auto;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.link_item .item {
	border: 1px solid #ddd;
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
	background: #fff;
	box-sizing: border-box;
	flex: 0 0 50%;
}
.line_dot::after {
	content: "";
	width: 100%;
	display: block;
	border-bottom: 1px #ddd dotted;
}
.btn_box {
	width: 80%;
}
.btn_category {
    display: block;
    width: 100%;
    margin: 1.5em;
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    color: #000000!important;
    border: 2px solid #000000;
    transition: .4s;
    font-family: "source-han-serif-japanese", serif;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1.2px;
}
}

@media screen and (min-width:751px) and (max-width: 1024px) {
div#price_select {
    margin-top: -60px;
    padding-top: 60px;
}
.content_box {
	width: 98%;
	margin: 20px auto;
}
.top_bnr {
	width: 100%;
	background: #f5f5ed;
	margin-top: 60px;
}
.top_bnr img {
	display: block;
	margin: 0 auto;
}
.price_down_title {
	margin-top: 50px;
	text-align: center;
	font-size: 35px;
	font-family: 'Abhaya Libre', serif;
}
.page_title h2 {
	font-size: 65px!important;
}
.lead {
	font-size: 25px;
	font-family: source-han-serif-japanese, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #333;
}
.item_box_tome {
	max-width: 1025px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 0 0;
}
.item_box {
	max-width: 1280px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 0 0;
}
.item {
	flex: 0 0 23%;
	border: 1px solid #ddd;
	margin-bottom: 30px;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	background: #fff;
	display: inline-block;
	box-sizing: border-box;
}
.hover_ef_shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.hover_ef_shadow:hover img {
	opacity: 1;
}
.hover_ef_shadow:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.item img {
	width: 100%;
	max-width: 220px;
	display: block;
	margin: 0 auto;
}
.item_text {
	padding: 10px;
	font-weight: bold;
}
p.item_lead {
    font-size: 12px;
    font-weight: normal;
}
.item_text p {
	font-size: 14px;
}
.price {
	margin-bottom: 10px;
	bottom: 0;
}
s {
	font-size: 14px;
}
.new_price {
	font-size: 18px;
	font-weight: normal;
	color: red;
}
.back_gray {
	background: #f0f0f0;
}
.single_btn {
	width: 50%!important;
	font-size: 25px!important;
	padding: 10px 30px!important;
	cursor: pointer;
}
.tab-content {
	width: 100%;
	display: inline-block;
	margin: 50px auto 0;
}
.tab_font {
	font-size: 15px;
}
input[type="radio"] {
	display: none;
}
.tab_area {
	width: 100%;
	max-width: 1280px;
	display: flex;
	font-size: 0;
	margin: 0 auto 80px;
	position: relative;
}
.tab_area label {
	width: 33.3%;
	display: inline-block;
	padding: 12px 0;
	color: #999;
	background: #FFF;
	text-align: center;
	font-size: 20px;
	font-family: source-han-serif-japanese, sans-serif;
	font-style: normal;
	font-weight: 500;
	cursor: pointer;
	transition: ease 0.2s opacity;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
	border-left: dotted 1px #999999;
	border-right: dotted 1px #999999;
	box-sizing: border-box;
}
.tab_area label:first-child {
	border-right: none;
}
.tab_area label:hover {
	background-color: #FFF;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
	color: #4D4D4D;
	border-bottom: #4D4D4D 2px solid;
}
.tab-box {
	background: #fff;
	margin-bottom: 100px;
}
.tab_panel {
	width: 100%;
	padding: 50px 0 0;
	display: none;
}
#tab1:checked ~ .tab_area .tab1_label {
	background: #fff;
	color: #4D4D4D;
	font-weight: bold;
	border-bottom: #4D4D4D 2px solid;
}
#tab1:checked ~ .tab-box #panel1 {
	display: block;
	animation: tabAnim ease 0.8s forwards;
	-ms-animation: tabAnim ease 0.8s forwards;
}
#tab2:checked ~ .tab_area .tab2_label {
	background: #fff;
	color: #4D4D4D;
	font-weight: bold;
	border-bottom: #4D4D4D 2px solid;
}
#tab2:checked ~ .tab-box #panel2 {
	display: block;
	animation: tabAnim ease 0.8s forwards;
	-ms-animation: tabAnim ease 0.8s forwards;
}
#tab3:checked ~ .tab_area .tab3_label {
	background: #fff;
	color: #4D4D4D;
	font-weight: bold;
	border-bottom: #4D4D4D 2px solid;
}
#tab3:checked ~ .tab-box #panel3 {
	display: block;
	animation: tabAnim ease 0.8s forwards;
	-ms-animation: tabAnim ease 0.8s forwards;
}
#tab4:checked ~ .tab_area .tab4_label {
	background: #fff;
	color: #4D4D4D;
	font-weight: bold;
	border-bottom: #4D4D4D 2px solid;
}
#tab4:checked ~ .tab-box #panel4 {
	display: block;
	animation: tabAnim ease 0.8s forwards;
	-ms-animation: tabAnim ease 0.8s forwards;
}
.price_lead {
	margin-top: 20px;
	font-size: 15px;
	text-align: center;
}
/*----------------------
リンクコーデ
------------------------*/
.link_corde_wrap {
	width: 100%;
}
.link_item_box {
	width: 90%;
	text-align: center;
	margin: 5em auto;
}
.link_item_text {
	margin-top: 25px;
	font-size: 15px;
	text-align: left;
	width: 90%;
	margin: 0 auto;
}
.link_item_box h4 {
	margin-bottom: 3em;
	font-family: source-han-serif-japanese, sans-serif;
	font-style: normal;
	font-weight: 500;
}
.link_corde_wrap .link_item {
	display: flex;
	width: 100%;
	margin: 0 auto;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.link_item .item {
	border: 1px solid #ddd;
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
	background: #fff;
	box-sizing: border-box;
	flex: 0 0 40%;
}
.line_dot::after {
	content: "";
	width: 100%;
	display: block;
	border-bottom: 1px #ddd dotted;
}
.btn_box {
	width: 100%;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}
.btn_category {
	display: block;
    width: 28%;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: #000000!important;
	border: 2px solid #000000;
	transition: .4s;
	font-family: "source-han-serif-japanese", serif;
	font-style: normal;
	box-shadow: 7px 7px #e5e5e5;
	font-size: 16px;
	letter-spacing: 1.2px;
}
}

@media screen and (min-width:1025px), print, tv {
div#price_select {
    margin-top: -60px;
    padding-top: 60px;
}
.breadcrumb {
	width: 100%;
	max-width: 1280px;
	margin: 10px auto!important;
}
.content_box {
	width: 98%;
	margin: 20px auto;
}
.top_bnr {
	width: 100%;
    background: #FBFAF6;
}
.top_bnr img {
	display: block;
	margin: 0 auto;
}
.price_down_title {
	margin-top: 50px;
	text-align: center;
	font-size: 35px;
	font-family: 'Abhaya Libre', serif;
}
.page_title h2 {
	font-size: 65px!important;
}
.lead {
	font-size: 25px;
	font-family: source-han-serif-japanese, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #333;
}
.item_box_tome {
	max-width: 1025px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 0 0;
}
.item_box {
	max-width: 1280px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 0 0;
}
.item {
	flex: 0 0 23%;
	border: 1px solid #ddd;
	margin-bottom: 30px;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	background: #fff;
	display: inline-block;
	box-sizing: border-box;
}
.hover_ef_shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.hover_ef_shadow:hover img {
	opacity: 1;
}
.hover_ef_shadow:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.item img {
	width: 100%;
	max-width: 220px;
	display: block;
	margin: 0 auto;
}
.item_text {
	padding: 10px;
	font-weight: bold;
}
.price {
	margin-bottom: 10px;
	bottom: 0;
}
p.item_lead {
	font-size: 13px;
	font-weight: normal;
}
s {
	font-size: 14px;
}
.new_price {
	font-size: 18px;
	font-weight: normal;
	color: red;
}
.back_gray {
	background: #f0f0f0;
}
.single_btn {
	width: 50%!important;
	font-size: 25px!important;
	padding: 10px 30px!important;
	cursor: pointer;
}
.tab-content {
	width: 100%;
	display: inline-block;
    margin: 50px auto;
}
.tab_font {
	font-size: 15px;
}
input[type="radio"] {
	display: none;
}
.tab_area {
	width: 100%;
	max-width: 1280px;
	display: flex;
	font-size: 0;
	margin: 0 auto 40px;
	position: relative;
}
.tab_area label {
	width: 33.3%;
	display: inline-block;
	padding: 12px 0;
	color: #999;
	background: #FFF;
	text-align: center;
	font-size: 20px;
	font-family: source-han-serif-japanese, sans-serif;
	font-style: normal;
	font-weight: 500;
	cursor: pointer;
	transition: ease 0.2s opacity;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
	border-left: dotted 1px #999999;
	border-right: dotted 1px #999999;
	box-sizing: border-box;
}
.tab_area label:first-child {
	border-right: none;
}
.tab_area label:hover {
	background-color: #FFF;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
	color: #4D4D4D;
	border-bottom: #4D4D4D 2px solid;
}
.tab-box {
	background: #fff;
	margin-bottom: 100px;
}
.tab_panel {
	width: 100%;
	padding: 50px 0 0;
	display: none;
}
#tab1:checked ~ .tab_area .tab1_label {
	background: #fff;
	color: #4D4D4D;
	font-weight: bold;
	border-bottom: #4D4D4D 2px solid;
}
#tab1:checked ~ .tab-box #panel1 {
	display: block;
	animation: tabAnim ease 0.8s forwards;
	-ms-animation: tabAnim ease 0.8s forwards;
}
#tab2:checked ~ .tab_area .tab2_label {
	background: #fff;
	color: #4D4D4D;
	font-weight: bold;
	border-bottom: #4D4D4D 2px solid;
}
#tab2:checked ~ .tab-box #panel2 {
	display: block;
	animation: tabAnim ease 0.8s forwards;
	-ms-animation: tabAnim ease 0.8s forwards;
}
#tab3:checked ~ .tab_area .tab3_label {
	background: #fff;
	color: #4D4D4D;
	font-weight: bold;
	border-bottom: #4D4D4D 2px solid;
}
#tab3:checked ~ .tab-box #panel3 {
	display: block;
	animation: tabAnim ease 0.8s forwards;
	-ms-animation: tabAnim ease 0.8s forwards;
}
#tab4:checked ~ .tab_area .tab4_label {
	background: #fff;
	color: #4D4D4D;
	font-weight: bold;
	border-bottom: #4D4D4D 2px solid;
}
#tab4:checked ~ .tab-box #panel4 {
	display: block;
	animation: tabAnim ease 0.8s forwards;
	-ms-animation: tabAnim ease 0.8s forwards;
}
.price_lead {
	margin-top: 25px;
	font-size: 15px;
	text-align: center;
}
/*----------------------
リンクコーデ
------------------------*/
.link_corde_wrap {
	width: 100%;
}
.link_item_box {
	width: 90%;
	text-align: center;
	margin: 5em auto;
}
.link_item_text {
	margin-top: 25px;
	font-size: 15px;
	text-align: left;
	width: 70%;
	margin: 0 auto;
}
.link_item_box h4 {
	margin-bottom: 3em;
	font-family: source-han-serif-japanese, sans-serif;
	font-style: normal;
	font-weight: 500;
}
.link_corde_wrap .link_item {
	display: flex;
	width: 70%;
	margin: 0 auto;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.link_item .item {
	border: 1px solid #ddd;
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
	background: #fff;
	box-sizing: border-box;
	flex: 0 0 40%;
}
.line_dot::after {
	content: "";
	width: 100%;
	display: block;
	border-bottom: 1px #ddd dotted;
}
.btn_box {
	width: 85%;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}
.btn_category {
	display: block;
	width: 30%;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: #000000;
	border: 2px solid #000000;
	transition: .4s;
	font-family: "source-han-serif-japanese", serif;
	font-style: normal;
	box-shadow: 7px 7px #e5e5e5;
	font-size: 20px;
	letter-spacing: 1.2px;
}
}
